/*//// GENERAL AND FONTS ////*/

* {
    margin: 0;
    padding: 0;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.pixelify-sans-pfont {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(15, 15, 15);
}

h1 {
    color: white;
    font-family: "Press Start 2P"
}


/*//// MAIN MENU ////*/

#main-container {
    background-image: url(../src/MainBackground.jpg);
    align-items: center;
    justify-items: center;
}

.background-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 65%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0
}

#main-title {
    top: 5%;
    font-family: "Press Start 2P"

}

#main-container h1 {
    left: 5%;
    bottom: 30%;
    position: absolute;
}

#main-container p {
    font-size: 1.2rem;
    left: 5%;
    bottom: 10%;
    position: absolute;
    color: white;
    width: 600px;
    font-family: "Pixelify Sans", sans-serif
}

#howToPlay {
    display: flex;
    position: relative;
    margin: auto;
}

#start-button {
    display: flex;
    position: relative;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

/*//// GAME SCREEN ////*/

#game-container {
    display: none;
    background-image: url(../src/MainBackground2.jpg);
}

#game-container img {
    margin-right: 5px;
}

#arrow-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 20%;
    min-width: 100%;
}

#platform {
    background-image: url(../src/base-platform.png);
    display: block;
    position: absolute;
    width: 40%;
    height: 30%;
    bottom: 12%;
    left: 30%;
    background-size: contain;
    background-repeat: no-repeat;
}

#arrow-container img {
    width: 10%;
    height: auto;
}


/*SCORE*/

#score {
    display: flex;
    position: absolute;
    top: 10%;
    left: 5%;
    align-items: center;
    flex-direction: row;
    font-family: "Press Start 2P"

}

#score h2 {

    font-size: 2rem
}

#score img {

    width: 80px;

}


#gameOver-container {
    background-image: url(../src/gameover-background2.jpg)
}

/* PLAYER AND ENEMY */

#playerHP {
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 5%;
    align-items: center;
    flex-direction: row
}

#playerHP h2 {
    font-size: 2rem;
    font-family: "Press Start 2P"

}

#playerHP img {
    width: 50px;
}

#playerDmg {
    display: flex;
    position: absolute;
    bottom: 8%;
    left: 5%;
    align-items: center
}

#playerDmg h2 {
    font-size: 2rem;
    font-family: "Press Start 2P";
    color: white
}

#playerDmg img {
    width: 50px;
    margin-right: 15px;
}

#enemyHP {
    display: flex;
    position: absolute;
    bottom: 15%;
    right: 5%;
    align-items: center;
    flex-direction: row;

}

#enemyHP img {
    width: 50px;
    padding-bottom: 10px;
    margin-right: 10px;
}

#enemyHP h2 {
    font-size: 2rem;
    font-family: "Press Start 2P"
}

#enemyDmg {
    display: flex;
    position: absolute;
    bottom: 8%;
    right: 7%;
    align-items: center
}

#enemyDmg h2 {
    font-size: 2rem;
    font-family: "Press Start 2P"
}

#enemyDmg img {
    width: 50px;
    margin-right: 15px;
}


/*GAMEOVER*/


#gameOver {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 5%
}

#gameOver img {
    width: 30%;
    margin-bottom: 40px;

}

#gameOver button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}


/*ANIMATIONS*/


.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#hero {
    position: absolute;
    width: 230px;
    height: 150px;
    bottom: 0;
    top: 46%;
    left: 33%;
}

#hero.animated {
    background-repeat: no-repeat;
    background-size: 1400px;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: steps(7);
    animation-name: hero-animation;
}

@keyframes hero-animation {
    100% {
        background-position-x: -1400px;
    }
}

#hero.animated.idle {
    background-image: url("../src/player-character/player-idle.png");

}

#hero.animated.attack {
    background-image: url("../src/player-character/player-attack.png");
    animation-timing-function: steps(6);
    background-size: 1200px;
    animation-name: hero-animation-attack;
}

@keyframes hero-animation-attack {
    100% {
        background-position-x: -1200px;
    }
}

#hero.animated.hurt {
    background-image: url("../src/player-character/player-hurt.png");
    animation-timing-function: steps(4);
    background-size: 785px;
    animation-name: hero-animation-hurt;
    animation-duration: .4s;


}

@keyframes hero-animation-hurt {
    100% {
        background-position-x: -785px;
    }
}

#enemy {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 48%;
    bottom: 0;
    right: 37%;
}

#enemy.animated {
    background-repeat: no-repeat;
    background-size: 1400px;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: steps(8);
    animation-name: enemy-animation;
}

#enemy.animated.idle {
    background-image: url("../src/enemies/enemy1-idle.png");

}


@keyframes enemy-animation {
    100% {
        background-position-x: -1400px;
    }
}

#enemy.animated.attack {
    background-image: url(../src/enemies/enemy1-attack.png);
    animation-timing-function: steps(14);
    background-size: 2400px;
    animation-name: enemy-animation-attack;
    animation-duration: .5s;
}

@keyframes enemy-animation-attack {
    100% {
        background-position-x: -2400px;
    }
}

#enemy.animated.hurt {
    background-image: url("../src/enemies/enemy1-hurt.png");
    animation-timing-function: steps(5);
    background-size: 880px;
    animation-name: enemy-animation-hurt;
    animation-duration: .45s;


}

@keyframes enemy-animation-hurt {
    100% {
        background-position-x: -880px;
    }
}

#enemy.animated.die {
    background-image: url("../src/enemies/enemy1-die.png");
    animation-timing-function: steps(14);
    background-size: 2000px;
    animation-name: enemy-animation-die;
    animation-duration: .5s;


}

@keyframes enemy-animation-die {
    100% {
        background-position-x: -2000px;
    }
}