* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 15, 15);
}


h1 {
    color: white
}

#main-container {
    background-image: url(../src/MainBackground.jpg);
}

#game-container {
    display: none;
    background-image: url(../src/MainBackground2.jpg);
}

#gameOver-container {
    background-image: url(../src/GameOverBackground.jpg)
}

.background-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 65%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0
}

#start-button {
    position: absolute;
    display: block;
    margin: auto;
}

#arrow-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 20%
}


#arrow-container img {
    width: 10%;
    height: auto;
}

#score {
    display: flex;
    position: absolute;
    top: 10%;
    left: 5%;
    align-items: center;
    flex-direction: row;
    
}

#score h2 {
 
    font-size: 2rem
}

#score img {
    
    width: 50px;

}




#playerHP {
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 5%;
    align-items: center;
    flex-direction: row
}

#playerHP h2 {
    font-size: 2rem
    
}



#playerHP img{
    width: 50px;
}

#enemyHP {
    display: flex;
    position: absolute;
    bottom: 10%;
    right: 5%;
    align-items: center
   
}

#enemyHP img{
    width: 50px;
}

#enemyHP h2 {
    font-size: 2rem
}