#main-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url(../media/MainBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 65%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#main-title {
    font-family: "Press Start 2P", system-ui;
    font-size: 4rem;
    color: white;
    margin: 2rem 0 2rem 0; 
    width: 100%;  
}

.start-game {
    position: relative;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 1.2rem;
    text-align: center;
    top: 25vh;
    opacity: 1;
    animation: fade 1s linear infinite;
    width: auto;
    height: 100vh;
    overflow: hidden;
}

.instructions {
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 1.1em;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.479);
    padding: 2rem;
    margin: 0 0 2rem 2rem;  
    position: absolute;
    bottom: 0;  
    left: 0;
    width: 48vw;
    height: 30vh;  
    line-height: 1.6em;
}

.instructions p {
    margin-top: 2rem;
}

@keyframes fade {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

/* RESPONSIVE MEDIA QUERYS */

@media (max-width: 1440px) {
    #main-title{
        font-size: 3rem;
    }
    .instructions {
        font-size: 0.8rem;
        width: 43vw;
        height: 25vh;
        padding: 2rem 2rem 2rem 2rem;
    }
    .instructions p{
        margin-top: 0.8rem;
    }
    .start-game{
        font-size: 0.8rem;
        top: 25vh
    } 
}

@media (max-width: 1366px) {
    #main-title{
        font-size: 3rem;
    }
    .instructions {
        font-size: 0.8em;
        width: 43vw;
        height: 25vh;
        padding: 1.5rem 2rem 2rem 2rem;
    }
    .instructions p{
        margin-top: 0.7rem;
    }
    .start-game{
        font-size: 0.8rem;
        top: 25vh
    }

}