* {
    margin: 0;
    padding: 0;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .pixelify-sans-pfont {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 ;
    font-style: normal;
  }

body {
    background-color: rgb(15, 15, 15);
}


h1 {
    color: white;
    font-family: "Press Start 2P"
}

#main-container {
    background-image: url(../src/MainBackground.jpg);
    align-items: center;
    justify-items: center;
}

#game-container {
    display: none;
    background-image: url(../src/MainBackground2.jpg);
}

#game-container img{
    margin-right: 5px;
}

#gameOver-container {
    background-image: url(../src/gameover-background2.jpg)
}

#main-title {
    top: 5%;
    font-family: "Press Start 2P"
    
}

#main-container h1 {
    left: 5%;
    bottom: 30%;
    position: absolute;
}

#main-container p {
    font-size: 1.2rem;
    left: 5%;
    bottom: 10%;
    position: absolute;
    color: white;
    width: 600px;
    font-family: "Pixelify Sans", sans-serif
    
}

.background-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 65%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0
}

#howToPlay {
    display: flex;
    position: relative;
    margin: auto;
}

#start-button {
    display: flex;
    position: relative;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

#arrow-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 20%;
    min-width: 100%;
}


#arrow-container img {
    width: 10%;
    height: auto;
}

#score {
    display: flex;
    position: absolute;
    top: 10%;
    left: 5%;
    align-items: center;
    flex-direction: row;
    font-family: "Press Start 2P"
    
}

#score h2 {
 
    font-size: 2rem
}

#score img {
    
    width: 50px;

}


#gameOver {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 5%
}

#gameOver img{
    width: 30%;
    margin-bottom: 40px;
    
}

#gameOver button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  

#playerHP {
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 5%;
    align-items: center;
    flex-direction: row
}

#playerHP h2 {
    font-size: 2rem;
    font-family: "Press Start 2P"
    
}

#playerDmg {
    display: flex;
    position: absolute;
    bottom: 8%;
    left: 5%;
    align-items: center
}

#playerDmg h2 {
    font-size: 2rem;
    font-family: "Press Start 2P";
    color: white
}

#playerDmg img {
    width: 50px;
    margin-right: 15px;
}



#playerHP img{
    width: 50px;
}

#enemyHP {
    display: flex;
    position: absolute;
    bottom: 15%;
    right: 5%;
    align-items: center;
    flex-direction: row;
   
}

#enemyHP img{
    width: 50px;
    padding-bottom: 10px;
    margin-right: 10px;
}

#enemyHP h2 {
    font-size: 2rem;
    font-family: "Press Start 2P"
}

#countdown {
    display: flex;
    color: white;

}

#enemyDmg {
    display: flex;
    position: absolute;
    bottom: 8%;
    right: 5%;
    align-items: center
}

#enemyDmg h2 {
    font-size: 2rem;
    font-family: "Press Start 2P"
}

#enemyDmg img{
    width: 50px;
    margin-right: 15px;
}